* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    min-height: 100;
    background-image: url("Imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav a:hover{
    color: #d8d8d8;
}

.logotipo{
    font-weight: bold;
    font-size: 1.6rem;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    z-index: 999;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

@media (max-width: 800px){
    .hideMobile{
        display: none;
    }
}

@media (min-width: 800px){
    .hideDesktop{
        display: none;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #ffffff;
    flex-direction: column;
    text-align: center;
}

.content p{
    max-width: 400px;
}

html {
    scroll-behavior: smooth;
}